body {
    background-color: rgb(18, 21, 31);
    background-repeat: no-repeat;
    background-size: 100%;
    border: 100%;
}

.navbar {
    display: flex;
    position: sticky;
    border: 2px solid red;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 40px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    align-items: center;
    z-index: 5;
    width: 95%;
    gap: 40%;
}

.content {
    display: flex;
    gap: 10%; /* Ajoute un espace entre les liens */
}

.acceuil {
    padding-left: 20px;
}

.acceuil, .content a {
    text-decoration: none;
    color: #ebc400;
    font-size: 150%;
    font-family: 'Courier New', Courier, monospace;
}

.information {
    margin-top: 10%;
    margin-left: 10%;
    background-image: 
    radial-gradient(circle at 4% 15%, rgb(18, 21, 31) 0%, rgb(18, 21, 31) 1.5%, transparent calc(1.5% + 1px), transparent 100%),
    radial-gradient(circle at 4% 50%, rgb(18, 21, 31) 0%, rgb(18, 21, 31) 1.5%, transparent calc(1.5% + 1px), transparent 100%), 
    radial-gradient(circle at 4% 85%, rgb(18, 21, 31) 0%, rgb(18, 21, 31) 1.5%, transparent calc(1.5% + 1px), transparent 100%),
    linear-gradient(90deg, transparent 0%, transparent 10%, #DB676C 10%, #DB676C calc(10% + 2px), transparent calc(10% + 2px), transparent 100%),
    linear-gradient(180deg, white 12%, transparent 12%), repeating-linear-gradient(180deg, #91C1E1 0px, #91C1E1 1px, transparent 1px, transparent 30px), 
    linear-gradient(white,white);
}

section {
    display: flex;
    height: 60%;
    width: 95%;
    margin-bottom: 15%;
}

h1 {
    font-size: 60px;
    margin-left: 12%;
    margin-top: 2%;
    margin-bottom: 5%;
    color: #c41f1f;
    font-family: 'Courier New', Courier, monospace;
}

.info {
    font-size: 25px;
    color: #000000;
    margin-left: 14%;
    margin-bottom: 8%;
    margin-right: 3%;
    line-height: 125%;
    font-family: 'Courier New', Courier, monospace;
}

.tete {
    height: 18%;
    width: 18%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 18%;
    border-radius: 25px;
}

.titre {
    font-size: 60px;
    margin-left: 5%;
    margin-top:1%;
}

.tableau {
    position: relative;
    margin-top: 15%;
    margin-right: 20%;
    margin-left: -10%;
    color: #ffffff;
    border: solid 1px  #ffffff;
    width: 80%;
    font-size: 25px;
    width: 80%;
    border-collapse: collapse;
}

.tableau td {
    font-size: 25px;
    vertical-align: middle;
}

th, td {
    border: solid 1px  #ffffff;
    margin: auto;
}

.box {
    position: relative;
}

.pourcent {
    position: relative;
}

svg {
    width: 120px;
    height: 120px;
    display: block;
    margin: auto;
    padding: 3%;
}

svg circle {
    fill: none;
    stroke: #bd9e7c;
    stroke-width: 10px;
    transform: translate(5px, 5px);
    stroke-linecap: round;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}


svg circle:nth-child(1) {
    stroke: #ebc4005a;
    stroke-dashoffset: 0;
}

svg circle:nth-child(2) {
    stroke:  #ebc400;
    stroke-dashoffset: 440;
}

.circle-html {
    stroke-dashoffset: calc(440 - (440 * 60) / 100); /* 60% */
}

.circle-css {
    stroke-dashoffset: calc(440 - (440 * 50) / 100); /* 50% */
}

.circle-js {
    stroke-dashoffset: calc(440 - (440 * 20) / 100); /* 20% */
}

.circle-python {
    stroke-dashoffset: calc(440 - (440 * 75) / 100); /* 75% */
}

.circle-php {
    stroke-dashoffset: calc(440 - (440 * 40) / 100); /* 40% */
}

.circle-sql {
    stroke-dashoffset: calc(440 - (440 * 90) / 100); /* 90% */
}

span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
    color:  #ffffff;
}

/*Projet*/

#projets h1 {
    margin-left: 5%; 
}

.projet1, .projet2{
    position: relative;
    color:  #ebc400;
    font-size: 20px;
    margin-bottom: 10%;
    margin-left: 30%;
    text-decoration: none;
}

.image-projet-Mistral {
    margin-left: 23%;
}

.image-projet-HMM {
    margin-top: 10px;
    margin-left: -5%;
}

.firstProject, .secondProject {
    position: relative;
    margin-top: 20%;
    
}

/*Footer*/

#contact h1 {
    margin-left: 5%;
}

.contact {
    position: relative;
}

.mail-link {
    position: absolute;
    color: #ffffff;
    margin-top: 25%;  
}

.contact-linkedin, .contact-mail {  
    margin-left: 45%;
    margin-top: 5%;
}

.mail {
    margin-left: 20%;
}

.linkedin {
    margin-left: 2%;
}

.linkedin, .mail {
    position: absolute;
    height: 120px;    
    margin-top: 10%;
}